@model ProductViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditProduct</title>
</head>
<body>
    <div class="container">
        <form asp-controller="Home" asp-action="EditProductConfirmed" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" name="Name" value="@Model.Name" />

            @*<h3 align="center">Продукт : @Model.Name</h3>*@
            <div>
                <label asp-for="ForCount"><strong>Количество</strong></label><br />
                <input asp-for="ForCount" class="form-control" placeholder="Количество" />
                <span asp-validation-for="ForCount"></span>
            </div>

            <div>
                <label asp-for="Unit"><strong>Единица измерения</strong></label><br />
                <select asp-for="Unit" asp-items="Html.GetEnumSelectList<UnitVariables>()"></select>
            </div>

            <div class="form-check">
                <input type="checkbox" asp-for="IsAdded" class="form-check-input" />
                <label asp-for="IsAdded" class="form-check-label">Добавление к количеству ?!</label>
            </div>

            <button class="btn btn-dark" type="submit">Редактировать</button>
        </form>
    </div>
</body>
</html>
